/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i'); */

/*Header*/

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 170%;
  color: #333;
  overflow-x: hidden;
  background-color: #f7f5ee !important;
}

p{ margin: 0 0 10px 0; }

.h1, .h2, .h3, h1, h2, h3 {
  font-weight: 500;
  margin: 10px 0;
}

h1, .h1{ font-size: 1.8em; color: #000; }

h2, .h2{ font-size: 1.6em; color: #000; }

h3, .h3{ font-size: 1.4em; color: #000; }

h4, .h4{ font-size: 1.2em; color: #000; }

img{ max-width: 100%; height: auto; }

a{
  color: #078D92;
}

a:hover{
  color: #1bd3df;
}

ul.links.inline{
  padding: 0;
}

ul.links.inline li{
  list-style: none;
}

.block{
  margin-bottom: 20px;
}

.main-header{
  background: url(../images/welcome_bg.jpg);  
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  background-size: cover;
  position: relative;
}

.main-header:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(70, 79, 112, 0.68);
}

.contextual-region.js-view-dom-id-dbad09fde880b099e12beba26077649a4b8ecdef22c4ae25eee76217ac228369 {
  display: none !important;
}

span.quickedit-field {
  display: none;
}
.main-header nav{
  background: none;
  border: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.main-header .region{
  position: relative;
  z-index: 2;
}

/*region header*/

/* .site-branding{
  margin: 0;
} */

.brand.logo{
  margin-right: 5px;
}

/* .site-branding__name {
  line-height: initial;
}

@media (min-width: 800px) {
  .site-branding__name {
    width:1200px;
  }
}

.site-branding__name a:hover{
  text-decoration: none;
} */

.region-header .brand{
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}

.site-name a{
  font-size: 26px;
  color: #fff;
}

/*Banner*/

.welcome-banner-text{
  text-align: center;
  line-height: 160%;
  max-width: 600px;
  padding: 90px 0;
}

.welcome-banner-text h2{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*top widget*/

.topwidget{
  background: #f7f5ee;
  margin-top: -12px;
  padding-bottom: 40px;
}

.topwidget .fa{
  font-size: 60px;
  background: #4D4F4A;
  width: 120px;
  height: 120px;
  padding: 32px;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 20px;
}

.topwidget .fa span{
  display: none;
}

/*footerwidget*/

.footerwidget{
  background: #2e2e2e;
  color: #D0D0D0;
  padding: 10px 0;
}

.footerwidget img.left{
  float: left;
  margin: 10px 10px 0 0;
}

.copyright{
  background: #000;
  font-size: 10px;
  color: #999;
}

.copyright p{
  margin: 13px 0;
}

.footerwidget h2,
.footerwidget .h2{
  color: #FFF;
}

/*bottom-widgets*/

.bottom-widgets{
  text-align: center;
  /* background: #FBFBFB; */
  padding: 10px 0;
}

.bottom-widgets .region{
  padding: 10px;
}

/*Footer menu*/

.footer-menu{
  margin: 0;
  border: 0;
  color: #fff;
}

.footer-menu ul{
  margin: 10px 0;
  padding: 0;
}

.footer-menu nav li{
  display: inline-block;
}

.footer-menu nav li a{
  display: block;
  padding: 4px 20px 4px 0;
}

.google_map p,
.google_map .block{
  margin: 0;
}

.google_map iframe{
  display: block;
}

/*Credit link*/

.credit-link{
  text-align: left;
}

/*SOCIAL MEDIA*/

.social-media{
  margin: 10px 0;
  overflow: hidden;
  float: left;
}

.social-media a {
  width: 30px;
  height: 30px;
  color: #fff;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  background: #3262b9;
  font-size: 14px;
  line-height: 220%;
}

.social-media a.google-plus{
  background: #de2020;
}

.social-media a.twitter{
  background: #29C5F6;
}

.social-media a.linkedin{
  background: #069;
}

.social-media a.pinterest{
  background: #C61118;
}

.social-media a.rss{
  background: #FF6D00;
}

.social-media a:hover{
  opacity: .6;
}

/*FORM*/

input, button, select, textarea{
  padding: 9px;
  /* border: 1px solid #C7C7C7; */
}

.contact-message-form label{
  display: block;
}

.btn, 
input[type="submit"]{
  background: #19c2c8;
  color: #fff;
  border: 0;
  padding: 13px;
  line-height: 100%;
  height: 42px;
}

.btn:hover, 
input[type="submit"]:hover{
  background: #13ADB3;
}

/*FRONT PAGE*/

.path-frontpage .content_layout {
  text-align: center;
}

.path-frontpage .feed-icon{
  display: none;
}

/*MENU*/

.navbar-default .navbar-toggle{
  background: #fff;
  margin-right: 0;
}

nav h2{
  display: none;
}


.menu-base-theme,
.menu-base-theme a, 
.menu-base-theme a:hover, 
.menu-base-theme a:focus, 
.menu-base-theme a:active, 
.menu-base-theme a.highlighted{
  background: none;
}

.menu-base-theme li a{
  background: #FBFBFB
}

.main-menu {
  position: relative;
  z-index: 9999;
}

.region-primary-menu{
  display: none;
  background: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 20px;
}

.menu-base-theme a{
  border-bottom: 1px solid #EEF0F7;
}

.menu-base-theme a span.sub-arrow{
  color: #999;
  font-size: 22px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #DCDCDC;
  background: #EFEFEF;
} 

.navbar-toggle{
  z-index: 999;
}

/*breadcrumb*/

.breadcrumb{
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.breadcrumb ul{
  padding: 0;
}

.breadcrumb ul li{
  display: inline-block;
}

/*search form*/

#search-block-form{
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions{
  display: table-cell;
  vertical-align: top;
}

#search-block-form input{
  width: 100%;
}

/*Demo typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight{
  padding: 20px;
  background-color: #f7f7f9;
}

.highlight pre{
  border: 0;
  background: none;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1, 
.bd-example-type h2, 
.bd-example-type h3, 
.bd-example-type h4, 
.bd-example-type h5, 
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact form*/



.contact-message-feedback-form{
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid #D8D8D8;
  padding: 10px 30px;
  background: #F5F5F4;
}

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea{
  width: 100%;
}

/*user-login-form*/

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Maintainance*/

.maintenance-page{
  /* background: url(../images/maintenance-bg.png) #66CBFF center no-repeat; */
  color: #fff;
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  font-size: 18px;
  color: #000;
}

.maintenance-msg {
  margin: 20px 0;
  background: rgba(242, 244, 207, 0.88);
  padding: 20px 30px;
  display: inline-block;
  color: #404040;
  border: 1px solid #fff;
  box-shadow: 5px 5px 0px #FFFFFF;
  font-size: 14px;
}

.maintenance-msg h1{
  text-transform: uppercase;
  font-weight: bold;
}

.maintenance-page .brand,
.maintenance-page .name-and-slogan{
  display: inline-block;
  vertical-align: middle;
}

.maintenance-page .site-name a{
  color: #404040;
}

.maintenance-page .site-slogan,
.maintenance-page .name-and-slogan{
  display: none;
}


/*Comment*/

.comment-wrap{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.comment-wrap .author-details{
  float: left;
  width: 20%;
}

.comment-wrap .author-comments{
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted{
  padding: 5px 10px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.comment-wrap .author-comments h3{
  margin-top: 10px;
}

.comment-wrap .author-comments p{
  margin-bottom: 10px;
}

/*links inline*/

ul.links.inline li{
  display: inline-block;
  padding-right: 10px;
}

/*profile*/

.profile > div{
  padding-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.profile h4.label{
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.flexslider{
  z-index: 1;
  margin-top: 10px;
}

.flexslider .slides > li{
  position: relative;
}

.slider-caption{
  display: flex;
  position: absolute;
  z-index: 99;
  /* width: 40%; */
  /* background: #0009; */
  left: 10px;
  bottom: 10px;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
}
/* .flexslider li h1, */
.flexslider li h2,
.flexslider li .clearfix p,
.flexslider li .slider-title
.flexslider li .slider-caption {
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeOutLeft;
		animation-name: fadeOutLeft;
} 
.flexslider li.flex-active-slide .slider-caption h1,
.flexslider li.flex-active-slide .slider-caption h2 {
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
		-webkit-animation-duration: .6s;
		animation-duration: .6s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInLeft;
		animation-name: fadeInLeft;
}
.flexslider li.flex-active-slide .slider-caption p  {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@keyframes fadeInLeft {
0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}
@-webkit-keyframes fadeOutLeft {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }
}

/* @-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 600px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 570px;}
} */


.slider-title{
  font-size: 20px;
  background: #0009;
  padding: 10px;
  color: #fff;
  margin-top: 0;
}
.slider-description{
  background: #0009;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: #fff;
  width: max-content;
}

.flex-direction-nav a{
  color: #000;
}

.flex-direction-nav a:before{
  color: #000;
}

.flex-control-paging li a.flex-active{
  background: #fff;
}

/*navbar*/

.top{
  background-color: #034c97bf;
  margin-top: 37px;
}

.top a:hover{
  background-color: #000;
}

button.menu-item {
  width: 200px;
  margin: 5px;
}

div#wrapper {
  background-color: #f7f5ee;
  margin-top: -22px
}

div#block-krishna-istos-page-title {
  padding: 5px;
  padding-left: 15px;
  background-color:#b3e5ee69;
  margin-left: 50px;
  margin-right: 50px
}

ul.tabs.primary {
  margin-left: 50px;
  margin-right: 50px;
}

.brand_logo {
  float: right;
  width: 125px;
}

img.align-center {
  border-radius: 50%;
  width: 280px;
}

img.align-center:hover {
  border-radius: 50%;
  width: 280px;
  transform: scale(1.3)
}

/* .quickedit-field {
  padding: 0px 20px 0px 60px ;
} */

.node__content {
  padding-top: 49px;
  padding-left: 60px;
  padding-right: 20px;
}

form#contact-message-contact-us-form {
  padding-top: 49px;
  padding-left: 60px;
  padding-right: 20px;
}

div#cke_edit-field-message-0-value {
  width: 700px;
}

/*news and events*/
.list-wrpaaer {
  position: relative;
  overflow: hidden;
  padding-right: 6px;
  }
  .list-wrpaaer ul {
  margin: 0;
  padding: 0;
  }
  .list-wrpaaer ul li {
  list-style: none;
  display: block;
  margin-bottom: 20px;
  border: 2px solid #82ccdd;
  background: #fff;
  box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  }
  
  .events-header {
  margin-bottom: 15px;
  /*padding-bottom: 15px;*/
  border-bottom: 3px solid #dce110;
  }
  .events-header h2 {
  color: #232323 !important;
  margin: 0;
  font-weight: 600 !important;
  text-align: right;
  font-size: 16px !important;
  }
  .news-left {
  display: inline-block;
  width: 20%;
  float: left;
  padding: 5px 10px;
  }
  .news-right {
  display: inline-block;
  width: 80%;
  padding: 10px 10px 0px 0;
  }
  .news-right a {
  color: #2374bd;
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  }
  .news-right p {
  font-size: 13px;
  line-height: 18px;
  color: rgba(122,122,122,0.9);
  margin: 0;
  }
  .news-left span {
  display: block;
  }
  .line {
  width: 35px;
  height: 5px;
  background: #ffcc51;
  display: block;
  margin: 5px 0;
  }
  .line-vertical {
  position: absolute;
  width: 5px;
  height: 24px;
  bottom: 0;
  right: 5px;
  background-color: #ffcc51;
  }
  .news-dt {
  color: #474747;
  font-size: 24px;
  font-weight: 800;
  display: block;
  /*margin: 10px 0;*/
  line-height: 1.2 !important;
  }
  .news-mt {
  color: rgba(71,71,71,0.6);
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin: 5px 0;
  }
  .news-yr {
  color: rgba(71,71,71,0.6);
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin: 5px 0;
  }




body {
	background: #121212;
}


/* ------------ CARD ------------ */

.card {
	width: 70vw;
	height: calc(9/16 * 70vw);
	max-width: calc(16/9 * 70vh);
	max-height: 70vh;
	display: flex;
  position: relative;
  border-radius: 6px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: url($card-image) center center / cover;
	overflow: hidden;
}
	
/* // Play icon */
.card-play {
	width: 48px;
	height: 48px;
	position: relative;
	z-index: 1;
	margin: auto;
	opacity: 0;
	background: url($card-icon) center center / cover;
	cursor: pointer;
	transition: opacity .3s ease-out;
}

/* // Animation */
.card-play:after {
	content: '';
	position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: black;
	transition: all .5s ease-out;
}
	
.card-video {
	display: none;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 2;
	background: black;
}

.card:after {
	content: '';
	width: 250%;
	height: 250%;
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translate(-50%, -50%);
	opacity: 0;
	background: radial-gradient(circle closest-side, rgba(255, 255, 255, .3), transparent);
	transition: opacity 0.5s ease-out;
}


/* ------------ STATES ------------ */

.card:hover:after,
.card:hover .card-play {
	opacity: 1;
}

.video-is-open:after {
	display: none;
}

.video-is-open .card-play {
	opacity: 1;
	
	/* &:after {
		width: 2vh;
		height: 2vh;
		transform: translate(-50%, -50%) scale(16/9 * 50);
		transition: transform .5s ease-out;
	} */
}
 
.w3-container,.w3-panel{
  padding:0.01em 16px
}

.w3-center{
  text-align:center!important
}
.w3-animate-top{
  position:relative;animation:animatetop 1.4s
}
 /* @keyframes 
 animatetop{
   from{top:-300px;opacity:0} to{top:0;opacity:1}
} */


.w3-tooltip,.w3-display-container{
  position:relative
}
.w3-tooltip .w3-text{
  display:none
}
.w3-tooltip:hover .w3-text{
  display:inline-block
}


#myBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent !important;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes 
shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
 
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  margin-left: 150px;
  margin-right: 150px;

}

@media (max-width: 300px) {
  .panel {
  margin-left: 0px !important;
  margin-right: 0px !important;
 }
}

/* .middlewidget {
 
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  margin-top: -20px;
} */
.middlewidget:after {
  background-color: rgba(70, 79, 112, 0.68);
  margin-top: -20px;
}

.views-field.views-field-nothing {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-left: 20px;
  margin: 50px;
  padding-right: 20px;
}

.views-field.views-field-nothing:hover{
  transform: scale(1.2);
  box-shadow: 0 25px 40px 0 rgba(0,0,0,0.2);
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
} */



/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* 
div#testimonial-slider {
  float: right;
} */

.owl-carousel {
  width: 350px;
  float: right;
}
.testimonial{
  background: #fff;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 0 15px 100px;
  position: relative;
}
.testimonial:before,
.testimonial:after{
  content: "";
  border-top: 40px solid #fff;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.testimonial:after{
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}
.testimonial .icon{
  display: inline-block;
  font-size: 80px;
  color: #ff3115;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .description{
  font-size: 16px;
  color: #777;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
  letter-spacing: -1px;
}
.testimonial .testimonial-content{
  width: 100%;
  position: absolute;
  left: 0;
}
.testimonial .pic{
  display: inline-block;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .title{
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}
.owl-theme .owl-controls{
  margin-top: 60px;
}
.owl-theme .owl-controls .owl-page span{
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #ffd9b8;
  border-color: #fff;
}
  .pic img{
      width: 100px !important;
      height: 50px;
  }
/*news block */
.region.region-news {
    /* background:#f7f5ee; */
    margin-top: -30px;
}

  a, a:hover {
    text-decoration: none;
  }
  
  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  a.news__item {
    background: #f9f9f9;
    /* background: linear-gradient(45deg, rgba(209, 0, 42, 0.6) 0%, #0E5DC4 100%); */
    margin: 15px;
    border-radius: 20px;
    border: 2px solid #00000047;
}

  .item-bg {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all .3s;
    left: -30px;
  }
  /* .item-bg.active {
    left: 0;
    top: 0;
  } */
  
  .news-slider {
    z-index: 2;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  @media screen and (max-width: 1300px) {
    .news-slider {
      max-width: 1000px;
    }
  }
  @media screen and (max-width: 576px) {
    .news-slider {
      margin-top: 45px;
    }
  }
  .news-slider__wrp {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  .news-slider__item {
    width: 400px;
    flex-shrink: 0;
  }
  @media screen and (max-width: 992px) {
    .news-slider__item {
      width: 340px;
    }
  }
  .news-slider__item.swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
  }
  .news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
    opacity: 1;
    pointer-events: auto;
  }
  .news-slider__ctr {
    position: relative;
    z-index: 12;
  }
  .news-slider__arrow {
    background: #fff;
    border: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 12;
    cursor: pointer;
    outline: none !important;
  }
  .news-slider__arrow:focus {
    outline: none !important;
  }
  .news-slider__arrow .icon-font {
    display: inline-flex;
  }
  .news-slider__arrow.news-slider-prev {
    left: 15px;
    transform: translateY(-50%);
  }
  .news-slider__arrow.news-slider-next {
    right: 15px;
    transform: translateY(-50%);
  }
  .news-slider__pagination {
    text-align: center;
    margin-top: 50px;
  }
  .news-slider__pagination .swiper-pagination-bullet {
    width: 13px;
    height: 10px;
    display: inline-block;
    background: black;
    opacity: .2;
    margin: 0 5px;
    border-radius: 20px;
    transition: opacity .5s, background-color .5s, width .5s;
    transition-delay: .5s, .5s, 0s;
  }
  .news-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: black;
    width: 100px;
    transition-delay: 0s;
  }
  @media screen and (max-width: 576px) {
    .news-slider__pagination .swiper-pagination-bullet-active {
      width: 70px;
    }
  }
  .news__item {
    padding: 40px;
    color: #fff;
    border-radius: 10px;
    display: block;
    transition: all .3s;
  }
  @media screen and (min-width: 800px) {
    .news__item:hover {
      color: #222222;
      transition-delay: .1s;
      text-decoration: none;
      background: thistle;
      border-radius: 10px;
      box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    }
    .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
      opacity: 1;
      transition-delay: .1s;
    }
    .news__item:hover .news__img {
      box-shadow: none;
    }
  }
  .news__item.active {
    color: #222222;
  }
  .news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
    opacity: 1;
  }
  .news__item.active .news__img {
    box-shadow: none;
  }
  @media screen and (max-width: 992px) {
    .news__item {
      padding: 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .news__item {
      padding: 20px;
    }
  }
  .news-date {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s;
    color: black;
  }
  @media screen and (max-width: 576px) {
    .news-date {
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      padding-bottom: 0;
    }
  }
  .news-date__title {
    display: block;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  @media screen and (max-width: 576px) {
    .news-date__title {
      margin-right: 10px;
    }
  }
  .news-date__txt {
    font-size: 16px;
  }
  .news__title {
    font-size: 25px;
    font-weight: 500;
    opacity: .7;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: opacity .3s;
    color: black;
  }
  @media screen and (max-width: 576px) {
    .news__title {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  .news__txt {
    margin: 10px 0;
    line-height: 1.6em;
    font-size: 15px;
    opacity: .7;
    transition: opacity .3s;
    color: black;
  }
  .news__img {
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin-top: 30px;
    width: 100%;
    transition: all .3s;
    transform-origin: 0% 0%;
  }
  @media screen and (max-width: 576px) {
    .news__img {
      height: 180px;
      margin-top: 20px;
    }
  }
  .news__img img {
    max-width: 100%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }


aside {
  width: 550px;
  background-color: #333;
  height: 300px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 15px #333;
}
aside.profile-card {
  border-radius: 20px;
  box-shadow: -7px 2px #446464eb;
}
aside header img {
  position: absolute;
  top: 0px;
  left: -10px;
  width: 280px;
  height: 300px;
  transition: all 0.3s;
  transition-delay: 0.2s;
}
aside header h1 {
  color: #31adad;
  position: absolute;
  left: 275px;
  top: 90px;
  font-size: 2.1em;
  font-weight: 300;
  transition: all 0.2s;
  transition-delay: 0.3s;
}
aside header h1:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  display: block;
  background-color: #339999;
  margin-top: 5px;
  transition: all 0.1s;
  opacity: 0.1;
}
aside header h2 {
  color: #e2ecf9;
  position: absolute;
  left: 275px;
  top: 150px;
  font-weight: 100;
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}
aside .profile-bio p {
  position: absolute;
  left: 620px;
  top: 100px;
 
  color: #fff;
  font-weight: 100;
  font-size: 1em;
  line-height: 22px;
  transition: all 0.2s ease-in-out;
  transition-delay: 0s;
}
aside .profile-social-links {
  position: absolute;
  left: 58%;
  bottom: 0px;
  transition: all 0.2s ease-in-out;
}
aside .profile-social-links li {
  display: inline-block;
  height: 40px;
  width: 40px;
}
aside .profile-social-links li a {
  color: #fff;
  font-size: 1.5em;
  padding: 5px;
}
aside .profile-social-links li a i {
  transition: all 0.2s;
}
aside .profile-social-links li a:hover {
  color: #339999;
  border-bottom: 2px solid #339999;
}
aside .profile-social-links li a:hover i {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
aside:hover img {
  left: -100px;
  border-radius: 0;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  opacity: 0.2;
  border: none;
  box-shadow: none;
}
aside:hover h1 {
  left: 220px;
  top: 0px;
  font-size: 2em;
  transition-delay: 0s;
}
aside:hover h1:after {
  height: 26px;
  width: 100%;
  left: 0;
  margin-top: 5px;
  transition-delay: 0.5s;
  opacity: 0.8;
}
aside:hover h2 {
  left: 225px;
  top: 39px;
  font-size: 1.2em;
  transition-delay: 0.2s;
  color: #fff;
}
aside:hover .profile-bio p {
  left: 220px;
  transition-delay: 0.3s;
}
aside:hover .profile-social-links {
  bottom: 0px;
}




.footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #04081d;
  padding: 3em 1em;
  font-size: 15px;
   color: #fff;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 20px;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  /* text-transform: lowercase; */
  font-size: 24px;
  color:white;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
}

.nav__title {
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.footer address {
  font-style: normal;
  color: #9ca0b1;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10em;
  background-color: hsl(227, 12%, 30%);
  border-radius: 4px;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 10px 16px;
  color: #fff;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 20px;
}

.nav__ul a {
  color: #9ca0b1;
}

.nav__ul--extra {
  column-count: 1;
  column-gap: 20px;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  color: #9ca0b1;
}

.legal span {
  display: flex;
  align-items: center;
}

.legal span a {
    text-decoration: underline;
    color: #9ca0b1;
  }

.legal__links span::before {
  content: "|";
  margin: 0 8px;
}

@media screen and (min-width: 390px) {
  .legal span {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer {
    padding: 3em 4em;
  }
  
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 1;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}
/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.customer {
  text-align: center;
  padding-bottom: 50px;
  border-right: 2px dashed white;
}

.customer:last-child {
  border-right: 0px solid black;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.counter i {
  font-size: 20px !Important;
}

@media (max-width: 991px) {
  .customer {
    border-right: 0px dashed black;
    border-bottom: 1px dashed black;
    width: 50%;
    margin: auto auto;
  }
  
  .customer:last-child {
    border-bottom: 0px dashed black;
  }
}
 /* 
 h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; 
  height: 3px;
  width: 10%;
  background: #ff3115;
  display: block;
  align-content: center;
  margin: 20px;
}  */

.rs-services-style1 .services-item {
  background-color: #446464eb;
  padding: 30px 25px 35px;
  box-shadow: 0 4px 2px -2px #000000;
  z-index: 111;
  position: relative;
  top: -30px;
  transition: all 0.3s ease 0s;
  margin: 25px;
  border-radius: 35px;
}
.rs-services-style1 .services-item:hover {
  background-color: #ff3115;
  border-radius: 35px;
}
.rs-services-style1 .services-item:hover .services-icon {
  background-color: #ff3115;
}
.rs-services-style1 .services-item:hover .services-icon,
.rs-services-style1 .services-item:hover .services-desc p {
  color: #fff;
}
.rs-services-style1 .services-desc {
  text-align: center;
  margin-top: 75px;
}
.rs-services-style1 .services-desc p {
  color: #cccccc;
  margin-bottom: 0;
}
.rs-services-style1 .services-desc .services-title {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 7px;
  z-index: 10;
}
.rs-services-style1 .services-icon {
  height: 130px;
  width: 130px;
  background-color: #212121;
  line-height: 88px;
  text-align: center;
  position: absolute;
  top: -50px;
  z-index: -1;
  font-size: 40px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ff3115;
  transition: all 0.3s ease 0s;
}
.rs-services-style1 .services-icon i {
  display: inline-block;
}
.home5 .rs-services-style1 .services-item {
  margin-top: 0;
  padding-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
.home5 .rs-services-style1 .services-item.blue-color {
  box-shadow: 0px 4px 13px #046875;
}
.home5 .rs-services-style1 .services-item.blue-color,
.home5 .rs-services-style1 .services-item.blue-color .services-icon {
  background: #00bcd4;
}
.home5 .rs-services-style1 .services-item.orange-color {
  box-shadow: 0px 4px 13px #9c510b;
}
.home5 .rs-services-style1 .services-item.orange-color,
.home5 .rs-services-style1 .services-item.orange-color .services-icon {
  background: #fc7f0c;
}
.home5 .rs-services-style1 .services-item.purple-color {
  box-shadow: 0px 4px 13px #50154f;
}
.home5 .rs-services-style1 .services-item.purple-color,
.home5 .rs-services-style1 .services-item.purple-color .services-icon {
  background: #92278f;
}
.home5 .rs-services-style1 .services-item.red-color {
  box-shadow: 0px 4px 13px #75231a;
}
.home5 .rs-services-style1 .services-item.red-color,
.home5 .rs-services-style1 .services-item.red-color .services-icon {
  background: #e84b3a;
}
.home5 .rs-services-style1 .services-item .services-icon {
  color: #fff;
  top: -50px;
  line-height: 90px;
  font-size: 40px;
}
.home5 .rs-services-style1 .services-item .services-desc {
  position: relative;
  z-index: 111;
  margin-top: 6px;
}
.home5 .rs-services-style1 .services-item .services-desc .services-title {
  margin-bottom: 6px;
  position: relative;
}
.home5 .rs-services-style1 .services-item .services-desc p {
  color: #eee;
}

.coe {
  margin-bottom: 50px;
  top: 85px;
}

/* ------------------------------------
    08. About Us
---------------------------------------*/

.line0 {
  /* border-top: 4px solid #dce110; */
  border-bottom: 4px solid #dce110;
}
.container.line2 {
  border-top: 4px solid #dce110;
}
.row.line1 {
  padding-bottom: 40px;
  margin-top: -25px;
}

.col-md-6.vision{
  margin-top: 55px;
  left: -40px;
  float: left;
}

.col-md-6.mission{
  margin-top: 55px;
  float: right;
}

.vision1 {
  line-height: 33px;
  font-weight: 600;
}

.mission1 {
  line-height: 33px;
  font-weight: 600;
}

.vision-img {
  padding-bottom: 10px;
}

.mission-img {
  padding-bottom: 10px;
}
.vision1 h2 {
  padding-bottom: 10px;
}

.mission1 h2 {
  padding-bottom: 10px;
}

.row.princi {
  margin-left: -85px;
  float: left;
}
.row.corres {
  margin-left: 85px;
}

.middlewidget{
    background: #f7f5ee;
}
.demo{
  display: none;
}
.container.counter1{
  padding-bottom: 50px;
  border-bottom: 4px solid #dce110;

}

.region.region-widget-title {
  border: 3px solid red;
  border-radius: 22px;
  padding: 15px;
  margin-top: 50px;
  position: relative;
  background:linear-gradient( rgba(70, 79, 112, 0.91) 100%, rgba(0, 0, 0, 0.5)100%),url(../images/Count-1.gif);
  background-size: cover;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  color: white;
}
.hed {
  padding-bottom: 20px;
}
.hed h2 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
  left:45%
}
.hed h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid red;
}

.hed1 {
  padding-top: 10px;
}
.hed1 h2 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
  left:25%
}
.hed1 h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid red;
}
.about-desc {
  background-color: #f9f9f9;
  border: 4px solid #e7e7e7;
  padding: 20px;
  width: 650px;
  margin-left: -45px;
  margin-top: 57px;
}

.about-desc p {
  line-height: 30px;
  text-align: justify;
}
.about-img {
  margin-left: -53px;
  background-color: #f9f9f9;
  border: 4px solid #e7e7e7;
  padding: 20px;
}

.about-img img {
  height: 400px;
  width: 613px;
}

.dot1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.row.us1 {
  margin-top: -40px;
}

.hed3 {
  padding-bottom: 40px;
  padding-top: 20px;
}
.hed3 h2 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
  left:42%
}
.hed3 h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 21%;
    border-bottom: 4px solid red;
}
/* .hed-p {
  padding-bottom: 40px;
  padding-top: 20px;
} */
.hed-p h2 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
  left:45%
}
.hed-p h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid red;
}

/* .newsbg{
  padding: 10px 0;
  position: relative;
  background:linear-gradient( rgba(70, 79, 112, 0.68) 100%, rgba(0, 0, 0, 0.5)100%),url(../images/Count-1.gif);
  background-size: cover; 
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
} */

/* .newsbg::before{
  content: "";
  background-color: rgba(0, 0, 0, 0.37);
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
} */

/* ------------------------------------
    11. Rs-counter
---------------------------------------*/
/* .rs-counter .rs-counter-list {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
  text-align: center;
  padding: 23px;
  transition: .3s all ease;
}
.rs-counter .rs-counter-list .counter-number {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 6px;
}
.rs-counter .rs-counter-list .counter-desc {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
}
.rs-counter .rs-counter-list:hover {
  border-color: #ff3115;
}
.rs-counter .counter-title {
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  margin-bottom: 25px;
}
.rs-counter .counter-text p {
  margin-bottom: 35px;
  color: rgba(255, 255, 255, 0.6);
}
.rs-counter .counter-img {
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}
.rs-counter .counter-img img {
  border-radius: 8px;
}
.rs-counter-style2 .rs-counter-list {
  border: none;
  padding: 0;
}
.rs-counter-style2 .count-icon i {
  font-size: 60px;
  color: #ff3115;
}
.home5 .rs-counter .rs-counter-list {
  border-radius: 30px;
  border: none;
  background: #92278f;
}
.home5 .rs-counter .rs-counter-list .counter-number {
  color: #fff;
}
.home5 .rs-counter .rs-counter-list:hover {
  border-color: #92278f;
}
.home5 .rs-counter .rs-counter-list.blue-color {
  background: #269aa9;
}
.home5 .rs-counter .rs-counter-list.orange-color {
  background: #fc7f0c;
}
.home5 .rs-counter .rs-counter-list.red-color {
  background: #e84b3a;
} */

.heda {
  padding-bottom: 40px;
  padding-top: 20px;
}
.heda h2 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
  left:40%
}
.heda h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 4px solid red;
}

.hedu {
  padding-bottom: 0px;
  padding-top: 10px;
}
.hedu h2 {
  font-weight: 200;
  display: inline-block;
  padding-bottom: 13px;
  position: relative;
}
.hedu h2:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 3px solid red;
}

.placementc{
  padding-bottom: 85px;
  background: linear-gradient( rgba(70, 79, 112, 0.9) 100%, rgba(0, 0, 0, 0.5)100%),url(../images/Sri_krishna1.webp);
  margin-bottom: -33px;
  color: white;
  background-size: contain;
  background-attachment: fixed;
}