<div  class="skasc">
 <div class="container line0">
     <div class="row line1">
       <div class="col-md-6 vision">
          <div class="vision-img">
			<img width="150" height="150" src="{{directory}}/image/vision.gif" class="vc_single_image-img attachment-thumbnail" alt="" srcset="https://www.skacas.ac.in/wp-content/uploads/2018/10/vission-150x150.gif 150w, https://www.skacas.ac.in/wp-content/uploads/2018/10/vission-100x100.gif 100w" sizes="(max-width: 150px) 100vw, 150px" />
        </div>
        <div class="vision1">
        <h2 style="text-align: center;">VISION</h2>
            <ul>
            <li style="text-align: justify;">To impart vibrant learning environment, inspiring innovation and nurturing creativity with technological competency grooming highly employable global citizens.</li>
            <li style="text-align: justify;">To provide excellent infrastructural and educational opportunities with integrity that help the students to excel holistically in academic and career endeavors</li>
            </ul>
        </div>
	  </div>
        <div class="col-md-6 mission">
           <div class="mission-img">
             <img width="150" height="150" src="{{directory}}/image/mission.gif" class="vc_single_image-img attachment-thumbnail" alt="" srcset="https://www.skacas.ac.in/wp-content/uploads/2018/10/mission-150x150.gif 150w, https://www.skacas.ac.in/wp-content/uploads/2018/10/mission-300x300.gif 300w, https://www.skacas.ac.in/wp-content/uploads/2018/10/mission-100x100.gif 100w" sizes="(max-width: 150px) 100vw, 150px" />
           </div>

            <div class="mission1" >
             <h2 style="text-align: center;">MISSION</h2>
                <ul>
                <li style="text-align: justify;">To be the benchmark for elite education to confront global challenges</li>
                <li style="text-align: justify;">To nurture the students with the horizon of knowledge, attitudes, skills and practices for empowering the nation</li>
                <li style="text-align: justify;">To instill the recent trends in the upgrading technologies</li>
                <li style="text-align: justify;">To be the front runner in responsive research which fosters the idea of sustainable and eco-friendly environment</li>
                </ul>
            </div>
	   </div>
    	</div>
        	</div>
            </div>