 <div class="hedu">
      <h2 >Upcoming Events</h2>
 </div>
<div class="events-scroll">
<div class="events-header">&nbsp;</div>

<div class="block-hdnews">
<div class="list-wrpaaer"><marquee behavior="scroll" direction="up" height="400" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="4" style="" width="320px">
<ul>
	<li>
	<div class="news-left"><span class="news-dt">05</span> <span class="news-mt">Aug</span> <span class="news-yr">2019</span></div>

	<div class="news-right"><a href="">Orientation Program For First Years</a>

	<p>&nbsp;</p>

	<p>Warm Welcome to the Young Budding Engineers</p>

	<p>&nbsp;</p>

	<div class="news-readmore">&nbsp;</div>
	</div>
	</li>
	<li>
	<div class="news-left"><span class="news-dt">14</span> <span class="news-mt">Nov</span> <span class="news-yr">2019</span></div>

	<div class="news-right"><a href="" target="_blank">International Conference</a>

	<p>&nbsp;</p>

	<p>International Conference on Transforming Academic Libraries : Vision 2030</p>

	<p>&nbsp;</p>

	<div class="news-readmore">&nbsp;</div>
	</div>
	</li>
	<li>
	<div class="news-left"><span class="news-dt">19</span> <span class="news-mt">Sep</span> <span class="news-yr">2019</span></div>

	<div class="news-right"><a href="" target="_blank">National Conference</a>

	<p>&nbsp;</p>

	<p>National Conference on Recent Trends in Advanced Computing(NCRAC) - 2019</p>

	<p>&nbsp;</p>

	<div class="news-readmore">&nbsp;</div>
	</div>
	</li>
	<li>
	<div class="news-left"><span class="news-dt">08</span> <span class="news-mt">Jul</span> <span class="news-yr">2019</span></div>

	<div class="news-right"><a href="">AICTE Sponsored FDP</a>

	<p>&nbsp;</p>

	<p>FDP on "Business Metrics and its Application in Business Decisions" comences from 8<sup>th</sup> July 2019 onwards</p>

	<p>&nbsp;</p>

	<div class="news-readmore">&nbsp;</div>
	</div>
	</li>
</ul>
<!-- list-wrpaaer --> </marquee></div>
</div>
</div>
